

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}



.navbar-brand {
    font-size: 28px;
    font-weight: bold;
}

.nav-link {
    font-size: 17px;
    margin-left: 10px;
}

.nav-link:hover {
    color: yellow;
}



.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../images/hos.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    color: rgb(155, 108, 108);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    font-size: 50px;
    font-weight: bold;
}

.hero p {
    font-size: 20px;
}



.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    height: 250px;
    object-fit: cover;
}



.btn-primary {
    border-radius: 25px;
    padding: 10px 25px;
}


form {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
}

input,
select,
textarea {
    margin-bottom: 15px;
}



.department-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

/* ==========================
   Doctor Section
========================== */

.doctor-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}



footer {
    margin-top: 50px;
}

footer a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: yellow;
}



@media (max-width:768px) {

    .hero {
        height: 500px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
    }

    .navbar-brand {
        font-size: 22px;
    }
}